<div>
  <p *ngFor="let item of itemsList"> <!-- asa se parcurge o lista in html -->
<!--    interpolare de stringuri = modalitate de a afisa textul dintr o variabila si e valabil pt toate tipurile de date cand vrem sa afisam valoarea unei variabile in html -->
    {{item}}
  </p>
</div>

<!--mai jos este un template pentru datele pe care le vom primi-->
<mat-card *ngFor="let item of itemsList">
  <mat-card-content>
    <p>Title: {{item.title}}</p>
    <p>Description: {{item.description}}</p>
    <p>Price: {{item.price}}</p>
    <p>ImageUrl: {{item.imageUrl}}</p>
  </mat-card-content>
</mat-card>
